a {
    text-decoration: none;
}
.body-container {
    background-color: #dbe2ef90;
    color: #222222;
    margin: 0;
    font-family: sans-serif;
}
.navbar-container {
    display: flex;
    align-items: center;
    padding: 20px 32px;
    gap: 40px;
    background-color: #3F72AF;
}
.navbar-link {
    color: #fff;
    font-size: 18px;
}
.navbar-link:hover {
    color: #112D4E;
}
.page-container {
    padding: 40px 48px;
}
.tag {
    color: #888888;
    font-size: 14px;
    margin-bottom: 4px;
}
.title {
    font-size: 55px;
    margin: 0 0 4px;
}
.subtitle {
    color: #112D4E;
    font-size: 29px;
    margin: 0 0 50px;
}
.section-title {
    color: #3F72AF;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 5px;
}
.section {
    font-size: 18px;
    border-left: 3px solid #3F72AF;
    padding-left: 16px;
    margin-bottom: 28px;
}
.section ul {
    margin: 0;
    padding-left: 20px;
    color: #555555;
}
.section ol {
    margin: 0;
    padding-left: 20px;
    color: #555555;
}
.section li {
    margin-bottom: 3px;
}